textarea{
    height: 150px;
    width: 60%;
    resize: none;
}

.center {
    width: 100%;
    display: grid;
    justify-content: center;
    row-gap: 5%;
    align-items: center;
    text-align: center;
}
.hint{
    color: #c3c3c3;
    font-size: 10pt;
    text-align: justify;
}

.block{
    display: grid;
}

.sentence {
    display: flex;
    align-items: center;
    gap: 0 1%;
    justify-content: flex-start;
}

button{
    justify-content: right;
}