.meal img {
    width: 56%;
    margin-bottom: 0;
    padding-left: 22%;
    align-self: center;
}

.meal {
    display: inline-grid;
    align-items: center;
    max-width: 100%;
    justify-content: center;
}

.meal p{
  margin-top: 0%;
  text-align: center;
}

li{
    font-size: 16px;
    margin-bottom: 1%;
}

ol{
  margin: 1%;
}

ul{
    font-size: 16px;
    list-style-type: coffee_ingredients;
}

@counter-style coffee_ingredients {
    system: fixed;
    symbols: ☕ ☕ ☕ ☕ ☕ ☕ ☕ ☕ ☕;
    suffix: " ";
}

.recipe{
    max-width: 70%;
    display: grid;
    justify-content: flex-start;
    gap: 1.5%;
    margin-top: 2%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
    align-items: center;
    text-align: justify;
  }

  .start{
    text-align: justify;
    max-width: 80%;
  }

  .ingredients {
    display: grid;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
  justify-content: space-evenly;
}

.row img{
  max-width: 95%;
}

textarea{
  font-size: 12pt;
  text-align: start;
}

.hearts{
  position: relative;
}

.favourite{
  display: block;
}

.favourite, .favourite_filled{
  max-width: 30%;
}

.favourite_filled{
  display: none;
}

.favourite:hover{
  display: none;
}

 body:has(.favourite:hover) .favourite_filled{
  display: block;
}


.right_part{
  display: flex;
  justify-content: space-evenly;
}

.score{
  width: 70%;
  display: flex;
  justify-content: space-between;
}


.score-box, .title{
  max-width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.score-box {
  width: 20%;
  align-items: center;
  margin-left: 2%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
  height: 100%;
}

.star {
    --bg: url(../resources/img/star.png) no-repeat;
    max-width: 20%;
    width: 20%;
    cursor: pointer;
    background: var(--bg);
    height: 50%;
}

.star:hover{
  --bg: url("../resources/img/star_filled.png") no-repeat;
}

body:has(.score_2:hover) .score_1 {
  --bg: url("../resources/img/star_filled.png") no-repeat;
}

body:has(.score_3:hover) .score_1, body:has(.score_3:hover) .score_2 {
  --bg: url("../resources/img/star_filled.png") no-repeat;
}

body:has(.score_4:hover) .score_1, body:has(.score_4:hover) .score_2,
 body:has(.score_4:hover) .score_3  {
  --bg: url("../resources/img/star_filled.png") no-repeat;
}

body:has(.score_5:hover) .score_1, body:has(.score_5:hover) .score_2, 
body:has(.score_5:hover) .score_3, body:has(.score_5:hover) .score_4 {
  --bg: url("../resources/img/star_filled.png") no-repeat;
}

.scores{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.rank {
  width: 100%;
  display: grid;
  margin-bottom: 10%;
  margin-top: 2%;
}

.review{
  width: 70%;
}

.send_review{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2%;
}